/*
* ----------------------------- mMunti CSs
*/
@media (max-width: 1159px){
            .col-sm-12 {
                width: 100%;
                flex: 0 0 100%;
                max-width: 100%;
            }

        }

        @media (max-width: 1159px) and (min-width: 768px)
        {
            .hidden-sm {
                display: none !important;
            }
        }
        @media (min-width: 768px){
            .col-sm-4 {
                width: 33.33333%;
            }
        }

        @media (min-width: 1160px){
            .col-md-4 {
                width: 33.33333%;
                flex: 0 0 33.33333%;
            }
        }

        @media (max-width: 767px){
            .hidden-xs {
                display: none !important;
            }
        }


         .post-card-img{
            position: relative;
        }

        .post-card-img .room-price{
            position: absolute;
            bottom: 20px;
            left: 20px;
            line-height: 1;
            border-radius: 60px;
            background: white;
            padding: 10px 12px;
            font-weight: 500;
            cursor: pointer;
        }

        .post-card-img .room-like{
            position: absolute;
            bottom: 20px;
            left: 20px;
            line-height: 1;
            border-radius: 60px;
            background: white;
            padding: 10px 14px;
            font-weight: 500;
            cursor: pointer;
        }

        .room-post-owner{
            position: absolute;
            top: 15px;
            left: 15px;
            right: 15px;
            color:white !important;
            transition: opacity ease 300ms;
            opacity: 0;
        }

        .post-card-img .room-like, .post-card-img .room-like *, .post-card-img .room-like:before {
            transition: opacity ease 300ms;
            opacity: 0;
        }

        .img-box:hover .room-price, .post-card-img .room-price *,.post-card-img:hover .room-price:before{
             transition: opacity ease 300ms;
            opacity:0;
        }

        .post-card-img:hover .room-like, .post-card-img .room-like *,.post-card-img:hover .room-like:before{
            transition: opacity ease 300ms;
            opacity:1;
        }

        .post-card-img:hover .room-post-owner, .post-card-img .room-post-owner *,.post-card-img:hover .room-post-owner:before{
            transition: opacity ease 300ms;
            opacity:1;
        }

        .post-card-img .img-box{
            width: 100%;
            overflow: hidden;
            cursor: pointer;
        }

        .img-box .like-bt{
            width: 32px !important;
            height: 32px !important;
        }

        .img-box-container{
            margin: auto;
            display: block;
            overflow: hidden;
        }
        .responsive-img {
            display: block;
            width: 100%;
            max-width: 100%;
            height: auto;
            border-radius: 12px;
        }

        .post-f{
            position: relative;
            height: 55px;
            max-height: 55px;
        }
        .post-f .post-f-l{
            float: left;
        }
        .post-f .post-f-r{
            float: right;
        }
        .post-img-info{
            margin: 0;
            font-size: 16px;
            display: block;
            line-height: 20px;
            color: #2d2d2d;
        }
        .elepises{
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        .rooms_container{
            margin: 0 auto;
            padding: 15px 0;
            width: 1160px;
            max-width: 95%;
        }


/*
* ----------------------------- mMunti CSs
*/




/*
* ----------------------------- mMunti CSs
*/
