/**
*
* Home_ Main core
*/

._container{
    position: relative;
    margin: 0 auto;
}

.grid-responsive:before, .grid-responsive:after {
    display: table;
    content: ' ';
  }

._img-card{
  width: 33.33333333%;
  position: relative;
  float: left;
}

._thumb-card-img{
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
}

.overview-card{
  position: relative;
}

.overview-card .u-hover, .overview-card .u-hover *, .overview-card .u-hover:before {
    transition: opacity ease 200ms;
    opacity: 0;
}

.overview-card:hover .u-hover,.overview-card:hover .u-hover *,.overview-card:hover .u-hover:before{
  opacity:1;
}

.overview-card .u-hover:before{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:linear-gradient(to bottom, rgba(0,0,0,0.6) 0%, transparent 50%, rgba(0,0,0,0.6) 100%);
  content:'';
}

.overview-card .user-preview {
    position: absolute;
    top: 0;
    left: 0;
    padding: .5em;
    z-index: 2;
    color: white;
  }

._img-card img{
    display: inline-block;
    width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
}


._status-home{
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius:60px;
  width: 80%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Responsive_ */

@media (max-width: 767px){
  ._container {
    width: 100%;
  }
  ._img-card{
    width: 50%;
  }
  ._img-card{
    padding: 5px;
  }
  ._status-home{
    display: none;
  }
}

@media (max-width: 1279px) and (min-width: 1024px){
  ._thumb-card-img{
      height: 264px;
    }
}

@media (max-width: 1439px) and (min-width: 1280px){
    ._container {
      width: 1248px;
    }
    ._thumb-card-img{
      height: 235px;
    }
}

@media (min-width: 1440px){
    ._container {
      width: 1408px;
    }

    ._img-card{
      width: 25%;
    }
}

@media (min-width: 1440px){
  ._img-card{
    padding: 20px;
  }
}

@media (max-width: 1023px) and (min-width: 768px){
  ._thumb-card-img {
    height: 198px;
  }
}


/* ----------------------------------------------------------- */
/*
* Core
*/

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
    margin-right: 4px;
}


.container{
    margin-left: auto !important;
    margin-right: auto !important;

    padding-right: 24px !important;
    padding-left: 24px !important;
}
.a_left{
    width: 100%;
}

.a_left{
    padding-left: 8px !important;
    padding-right: 8px !important;
    min-height: 1px !important;
    position: relative !important;
}

.a_rigth {
    padding-left: 8px !important;
    padding-right: 8px !important;
    min-height: 1px !important;
    position: relative !important;
}
/* ------- other util --------- */

/* always present */
.expand-transition {
  transition: all 5.3s ease;
  height: 30px;
  padding: 10px;
  background-color: #eee;
  overflow: hidden;
}
/* .expand-enter defines the starting state for entering */
/* .expand-leave defines the ending state for leaving */
.expand-enter, .expand-leave {
  height: 0;
  padding: 0 10px;
  opacity: 0;
}


.h-el{
  height: auto;
  transition: opacity 5.25s ease-in-out;
  -moz-transition: opacity 5.25s ease-in-out;
  -webkit-transition: opacity 5.25s ease-in-out;
}

.my-fade{
  opacity: 1 !important;
}

.custom-control-label::before {
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    background-color: transparent;
    border: #adb5bd solid 1px;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before {
    background-color: #03b7d4;
    border: none;
}

.custom-control-label::after{
  left: -1.5rem !important;
}

/* Recuros*/

.title-recurso{
  font-size: 1.15rem; font-weight: 700; text-align: center;
  padding-left: .5rem!important;
  padding-right: .5rem!important;
  color:#353535 !important
}

/* End Recuros*/
.min-mc4{
    padding-right: 4px !important;
    padding-left: 4px !important;
}


.bt-reserva{
  font-weight: 500 !important;
  font-style: normal;
}

.left-flex{
  position: absolute;
  right: 0;
  cursor: pointer;
}
.icon-c{
  color: #bdc6ce;
}

.icon-active{
  color: #dc3545 !important;
}

.like-bt svg{
  color: #bdc6ce;
  width: 32px;
  height: 32px;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;

}

.like-bt:hover svg{
  color: #bec7cf !important;
  border-color: #bec7cf !important;
  cursor: pointer;
}

.like-bt:hover{
  color: #bec7cf !important;
  border-color: #bec7cf !important;
  cursor: pointer;
}

.bt-active{
  color: #dc3545 !important;
  border-color: #dc3545 !important;
}

.bt-active svg{
  color: #dc3545 !important;
  border-color: #dc3545 !important;
}

.bt-active:hover svg{
  color: #dc3545 !important;
  border-color: #dc3545 !important;
}

.bt-active:hover{
  color: #dc3545 !important;
  border-color: #dc3545 !important;
}

.icon-c-h{
  font-weight: 400 !important;
  text-align: center
}

.icon-c-h:hover{
  font-weight: 500 !important;
  color: #dc3545 !important;
  cursor: pointer;
}

.vew-likes{
  margin-right: auto;
  margin-left: auto;
}

.like-bt{
  width: 54px;
  height: 54px;
  float: left;
}

.u-like{
  display: none;
  margin-top: -6px !important;
}

.u-like-show{
  margin-top: -6px !important;
  display: block !important;
  transition: color .15s ease-in-out,margin-top .15s ease-in-out,margin-bottom .15s ease-in-out,box-shadow .15s ease-in-out;
}

/** Core Add Room**/



/*//////////////////////////////////////////////////////////////////
[ FONT ]
*/


@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body, html {
  height: 100%;
}

.min-margin{
  margin-bottom: 24px;
}

.no-border{
  border: none !important;
}


/*---------------------------------------------*/
a {
	/*font-family: Poppins-Regular;*/
	/*font-size: 14px;
	line-height: 1.7;
	/*color: #666666;*/
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: linear-gradient(-135deg, #009ACB, #0061B5);
  color: #0061B5;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}


ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #999999;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #666666;
}

._text-bc{
  color: #524e4e !important;
}

.f-title{
  color:#545c63 !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.bg-wihte-op{
  background-color: rgba(255, 255, 255, 0.5) !important;
  border-bottom: none !important;
}

.a-fixed{
    position: fixed;
    max-width: 396px;
    top: 80px;
}
/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #009ACB, #0061B5);
  background: -o-linear-gradient(-135deg, #009ACB, #0061B5);
  background: -moz-linear-gradient(-135deg, #009ACB, #0061B5);
  background: linear-gradient(-135deg, #009ACB, #0061B5);
  background-image: url(../images/main.png);
  background-repeat: no-repeat;
  background-size: cover;

}

.wrap-login100 {
  width: 960px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 177px 130px 33px 95px;
}

/*------------------------------------------------------------------
[  ]*/
.login100-pic {
  width: 316px;
}

.login100-pic img {
  max-width: 100%;
}


/*------------------------------------------------------------------
[  ]*/
.login100-form {
  width: 290px;
}

.login100-form-title {
  font-family: Poppins-Bold;
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: center;

  width: 100%;
  display: block;
  padding-bottom: 18px;
}

.p-t-136{
  padding-top: 54px !important;
}

/*---------------------------------------------*/
.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}

.input100 {
  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;

  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 68px;
}


/*------------------------------------------------------------------
[ Focus ]*/
.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(87,184,70, 0.8);
}

.input100:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

.symbol-input100 {
  font-size: 15px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  pointer-events: none;
  color: #666666;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
  color: #57b846;
  padding-left: 28px;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.login100-form-btn {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;

  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #57b846;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background: #333333;
}



/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px){

  .main_bg {
    height: 230px !important;
    margin-top: 50px;
  }
  .a_rigth{
    display: none;
  }
  .a_left{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .place-rate{
    display: block;
  }

  .fixed-bt-bar{
    display: block;
  }
}

@media (min-width: 576px){

  .container {
    max-width: 100%;
  }
  .ui-coment-holder{
    padding-left: 36px;
  }
}
@media (min-width: 744px){
    .container {
      max-width: 696px !important;
    }
}

@media (max-width:744px){
  .navbar>div {
    padding: 0px !important;
  }

}

@media (min-width: 1128px){
    .container {
      max-width: 1080px !important;
    }
    .place-rate{
    display: none;
  }
  .info-mob{
    margin-bottom: 1.5rem!important;
  }
}

@media (min-width: 1128px){
  .a_left {
    width: 58.333333333333336% !important;
    float: left !important;
  }
  .fixed-bt-bar{
  display: none;
  }

}

@media (min-width: 1128px){
  .a_rigth {
    width: 41.66666666666667% !important;
    float: left !important;
  }
}

@media (max-width: 1127px){
  .a_rigth{
    display: none;
  }
  .place-rate{
    display: block;
  }
  .fixed-bt-bar{
    display: block;
  }
  .m-f{
    margin-bottom: 55px !important;
  }
}

@media (max-width: 992px) {
  .wrap-login100 {
    padding: 177px 90px 33px 85px;
  }

  .login100-pic {
    width: 35%;
  }

  .login100-form {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .wrap-login100 {
    padding: 100px 80px 33px 80px;
  }

  .login100-pic {
    display: none;
  }

  .login100-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 100px 15px 33px 15px;
  }
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 13px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;

  font-family: Poppins-Medium;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}


/*
///////////////////////////////////////////////////////
*/

.navbar{
  border-bottom: 1px solid rgba(76, 87, 102, .1);
  font-size: 13px;
}

.li-item{
    font-size: 1rem;
    color: #484848 !important;
    margin-right: 8px;
    margin-left: 8px;
}


.nav-item>a{
    height: 35px;
    text-decoration: none;
    text-align: center;
    position: relative;
    display: inline-block;
    text-transform: none;
    padding: 0;
    font-weight: 500;
    margin: 0;
    padding: 0 12px;
    line-height: 37px;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.5px;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

}
.active-n-item{
  color:#d80013 !important;
  background:rgba(191, 200, 210, 0.19)!important;
  border-radius: .30rem !important;
}

.nav-item:hover{
  background: rgba(191, 200, 210, 0.19)!important;
  border-radius: .30rem;
}

.nav-search{
  display: block;
  margin: 0 auto;
  height: 35px;
  width: 360px;
  border-radius:60px;
  display: flex;
  padding-right: 10px;
  background-color: #f8f9fa!important;
}

.nav-search-icon{
  width: 50px;
  height: 100%;
}

.nav-search-icon svg{
  color: #bfc8d2!important;
  width: 24px !important;
  height: 24px !important;
  vertical-align: text-bottom;
  margin-right: 4px;
  margin-right: auto;
  margin-left: 10px;
  margin-top: 5px;

}

.nav-input-cont{
  width: -webkit-fill-available;
  width: inherit;
}

.nav-search-input{
  background: transparent;
  border: 0;
  cursor: text;
  outline: none;
  padding: 0;
  width: calc(100% - 5px);
  line-height: 1;
}

.nav-search-input{
  color:#36515f !important;
  font-size:.93rem;
  font-weight: 400;
  line-height: 33px;
}


.nav-search:focus-within {
    border-color: #bfc8d2 !important;
 }


 .m-shadow{
   box-shadow:0 1px 2px rgba(0, 0, 0, .07) !important;
 }

 .ms-shadow{
   box-shadow: 0 1px 4px rgba(0,0,0,.04);
 }

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/*
///////////////////////////////////// Header
*/

.container-header {
    margin-bottom: 64px;
    font-size: 20px;
    font-weight: 600;
}
.container-header form input{
    margin-top: 10px;
    background: none;
    width: 100%;
    color: #4d565f
}
.maximas-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }


/* Card-View view*/

.circular-ui{
  width: 150px;
  height: 150px;
  border-radius: 90px;
  margin: auto;
}

.card-view{
  width: 100%;
  min-height: 355px;
  padding: 12px;
  border:1px solid rgba(0,0,0,.125);
}

.card-view:hover{
  border: 1px solid #007bffb0;
}


.card-view img {
    vertical-align: middle;
    border-style: none;
    height: 330px;
    border-radius: 6px;
    width: 100%;
  }

.div-coments{
  width: 100%;
  height: 330px;
  /*border-left:1px solid rgba(0,0,0,.125);*/

}

.coments-header{
  text-align: center;
  color:#002F3E;
  /*box-shadow: 0 4px 12px 0 rgba(0,0,0,.05) !important;*/
}

.coments{
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
  height: 305px;
  overflow-y: auto;
}

.coments-contents{
  width: 100%;
  height: 480px;
}

.item-coment{
  margin-top: 15px;
  display:flex;
}

.ui-user{
  background-color:#0095C4;
  background-color:#0095C4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 36px;
  height:36px;
  border-radius: 48px;
  position: static;
  margin-right: 8px;
  margin-top: 4px;
  box-sizing: border-box;
  /*border: 1px solid #002F3E;*/
  color:white;
  font-weight: bold;
}

.ui-user-pic{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 52px;
  height:52px;
  border-radius: 48px;
  position: static;
  margin-right: 8px;
  margin-top: 4px;
  box-sizing: border-box;
  color:white;
  font-weight: bold;
}

.ui-coment{
  width: 100%;
  height: auto;
  border-radius: 10px;
  background-color: #E5F4F9;
  color:#002F3E;
  padding: 8px;
}

.pub-date{
    font-size: 12px;
    line-height: 14px;
    margin: 0 0 6px;
    min-width: 105px;
    background-color: #EAF4F9;
}

.ui-facul{
    font-size: 12px;
    min-width: 105px;
    font-weight: 400;
    margin:-8px -5px 6px;
    line-height: none;
    background: none;
}

.rounded-text{
  border-radius:90px;
  text-align: center;
  font-weight: bold;
  padding: 2px;
  padding-left: 12px;
  padding-right: 12px;
  vertical-align: central;
  border: 2px solid #003C6A;
  margin-top: 12px;
}

.rounded-text-bt{
  border-radius:90px;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  padding: 2px;
  padding-left: 14px;
  padding-right: 14px;
  vertical-align: middle;
  cursor: pointer;
  background:#e9ecef99;
  border: 2px solid #e9ecef99;
}

.fb-btn{
  color: #f8f9fa!important;
  font-weight: 400!important;
  border: 2px solid #007bff;
  font-size: small;
  padding-top: 0;
}

.email-btn{
  color: #f8f9fa!important;
  font-weight: 400!important;
  border: 2px solid #B92600;
  background: #B92600 !important;
  font-size: small;
  padding-top: 0;
}

.center-tab{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.email-btn:hover{
  background: #b92600e0 !important;
}

.rounded-text-bt:hover{
  background:#e1e4e8;
}

.rounded-text-bt:active{
  border: 2px solid #003C6A;
}

.txt-card-place{
  opacity: 0.6;
  color:#003C6A;
  position: absolute;
  top: 0;
  margin: 12px;

}

.info-place{
  margin-top: 12px;
}

.iten-info {
    border: 1px solid #3396b5;
    border-radius: 20px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #E5F4F9;
    color: #002F3E;
    font-weight: 500;
    font-size: 14px;
}


.main_bg{
  height:320px;
}




/****** Bottom Bar  by mucanze *********/

.bt-bar .like-bt{
  width: 32px !important;
  height: 32px !important;
}

.bt-bar .like-bt svg{
  color: #bdc6ce;
  width: 18px;
  height: 24px;
  margin-top: 4px !important;
  margin-left: 6px !important;
  margin-right: auto;
}

.bt-bar{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: .5rem 1rem;
}

.flex-c-m > .btn {
    border-radius: 2rem;
}
